<div class="d-flex"><hr>
  <p class="mr-4">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="mr-4">@Html.ActionLink("Recipe Box", "Index", "recipes")</p>
  <p class="mr-4">@Html.ActionLink("Tags", "Index", "tags")</p>
</div>